# Git ingore to ensure sensitive or unnecessary files are not tracked
*.DS_Store
*.dcm
*.nii
*.nii.gz
Examples/*
demo
# Ignore Python cache files
__pycache__/
*.py[cod]
*.egg-info/
*.csv

# Ignore IDE specific folders and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace