# Git ingore to ensure sensitive or unnecessary files are not tracked
*.DS_Store
*.dcm
*.nii
*.nii.gz
.log
Examples/*
Results/*
demo*

# Ignore Python cache files
__pycache__/
*.py[cod]
*.egg-info/
*.csv
*.html

# Ignore IDE specific folders and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
